.env
.env.*
node_modules/
dist/
build/
coverage/
logs/
*.log
firebase-debug.log
.vscode/
.DS_Store
*.sqlite

# TS build info
web/*.tsbuildinfo
# Vite compiled config
web/vite.config.js
web/vite.config.d.ts
